<button (click)="switchLang('de')">Deutsch</button>
<button (click)="switchLang('en')">English</button>
<p>{{ 'welcome' |translate }}</p>
<ul>
  <li>
    <a [routerLink]="['/'] | localize">HOME</a>
  </li>
  <li>
    <a [routerLink]="['/list', 'asdf', 'qwer', 'yxcv'] | localize">{{ 'go_to_list'|translate }}</a>
  </li>
  <li>
      <a [routerLink]="['/beta'] | localize">{{ 'go_to_beta'|translate }}</a>
  </li>
  <li>
    <a [routerLink]="['/school'] | localize">{{ 'go_to_school'|translate }} (lazy loaded module)</a>
  </li>
</ul>

<router-outlet></router-outlet>